body{
    background-color: black;
}
@font-face {
    font-family: "against-regular";
    src: url("../asset/against\ regular.ttf") format("truetype");
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "BertiogaSans-Bold";
    src: url("../asset/fonts/BertiogaSans-Bold.ttf") format("truetype");
    font-display: swap;
    font-style: normal;
  }


  @font-face {
    font-family: "ClashDisplay-Regular";
    src: url("../asset/fonts/ClashDisplay-Regular.woff2") format("woff2"),
      url("../asset/fonts/ClashDisplay-Regular.woff") format("woff"),
      url("../asset/fonts/ClashDisplay-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }  

@font-face {
    font-family: "PlayfairDisplay-Regular";
    src: url("../asset/PlayfairDisplay-Regular.ttf") format("truetype");
    font-display: swap;
    font-style: normal;
  }

@font-face {
    font-family: "Slagless";
    src: url("../asset/Slagless-2OX63.ttf") format("truetype");
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "Montserrat-Regular";
    src: url("../asset/Montserrat-Regular.ttf") format("truetype");
    font-weight: 200;
    font-display: swap;
    font-style: normal;
  }

.box_big_1{
    display: flex;
}

.main{
    margin: auto;
    width: 80%;
    margin-top: 2%;
}

.name_box{
    background-color: rgb(0, 0, 0);
    width: 30vw;
    height: 15vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #2f8d46;
    
}

.name{
    flex-direction: row;
    font-family: "Slagless";
    font-size: 2.5vw;
    line-height: 0%;
    padding-top: 4vw;
}

.role{
    font-family: "Montserrat-Regular";
    line-height: 0%;
    font-size: 1.35vw;

}

.photo{
    width: 15vw;
    height: 15vw;
    align-content: center;
    justify-content: center ;
    display: flex;
    

}

.img{
    align-self: center;
    margin: auto;
    height: 100%;
    width: 100%;
}
.text_box_right{
    background-color: #FFEFCA;
    width: 33.75vw;
    height: 30vw;
    font-size: 1.2vw;
    text-align: justify;
    font-family: "ClashDisplay-Regular";
}

.text_box_left{
    background-color: #FFEFCA;
    width: 30vw;
    height: 30vw;
    margin-top: -15vw;
    font-family: "PlayfairDisplay-Regular";
    font-size: 1.5vw;
    text-align: center;
    font-weight: bold;

    
}


.left_text{
    margin-left: 2vw;
    line-height: 2.5vw;
    margin-right: 2vw;

    
}

.right_text{
    margin-left: 1vw;
    
    margin-right: 1vw;
}

.box_big_2{
    background-color: #1A4D2E;
    height: 15vw;
    display: flex;
}
.bottom_green_box{
    display: flex;
}

.logo{
    border: #2f8d46 1px solid;
    height: 1vw;
    width: 1vw;
}

.box_1{
    width: 16vw;
}
.box_2{
    width: 16vw;
}
.box_3{
    width: 16vw;
    
}

.logo1{
    float: right;
    margin-top: 3%;
}

.logo2{
    float: right;
    margin-top: 3%;
}
.logo3{
    float: right;
    margin-top: 3%;
}

.socials{
    display: flex;
    height: 15vw;
    width: 15vw;
    position: absolute;
    margin-left: 30vw;
    margin-top: 15vw;
    
}

.social_logo{
    height: 3vw;
    margin: 2vw;
}

.logo_container1 img{
    transition: 1s;
}

.logo_container1 img:hover  {
    content: url("../asset/facebook\ \(1\).png");
}

.logo_container_2 img{
    transition: 1s;
}

.logo_container_2 img:hover  {
    content: url("../asset/github\ \(1\).png");
}

.logo_container_3 img{
    transition: 1s;
}

.logo_container_3 img:hover  {
    content: url("../asset/linkedin-logo.png");
}

.logo_container_4 img{
    transition: 1s;
}

.logo_container_4 img:hover  {
    content: url("../asset/instagram\ \(1\).png");
}

.events1{
    font-family: "BertiogaSans-Bold";
    color: white;
    font-size: 5vw;
    margin-left: 20%;
}

.events2{
    font-family: "BertiogaSans-Bold";
    color: white;
    font-size: 5vw;
    margin-left: 20%;
}

.events3{
    font-family: "BertiogaSans-Bold";
    color: white;
    font-size: 5vw;
    margin-left: 20%;
    
}

.events1_1{
    font-family: "ClashDisplay-Regular";
    color: white;
    font-size: 1.3vw;
    margin-left: 20%;
    margin-top: -30%;
}

.events2_1{
    font-family: "ClashDisplay-Regular";
    color: white;
    font-size: 1.3vw;
    margin-left: 20%;
    margin-top: -30%;
}

.events3_1{
    font-family: "ClashDisplay-Regular";
    color: white;
    font-size: 1.3vw;
    margin-left: 20%;
    margin-top: -30%;
}

.footer_1{
    border-bottom: #fff solid 2px;
    border-width: 4px;
}